{
  "openapi": "3.0.0",
  "info": {
    "title": "Документация Ozon Seller API",
    "version": 2.1,
    "x-logo": {
      "url": "https://st.ozone.ru/s3/redoc/ozon-seller-logo.svg",
      "backgroundColor": null,
      "altText": "Ozon logo"
    },
    "description": "По вопросам работы с Seller API обращайтесь в поддержку через личный кабинет.\n\n<aside class=\"warning\">Обновляем корневой TLS/SSL-сертификат GlobalSign — вместо него будем использовать <a href=\"https://app.harica.gr/\">HARICA</a>.<br><a href=\"https://dev.ozon.ru/news/775-Izmeneniia-v-Ozon-API-migratsiia-kornevogo-sertifikata-UTs-Ozon/\">Подробнее о переходе на HARICA на платформе разработчиков Ozon for dev</a></aside>\n\n> [Инструкции по работе с маркетплейсом](https://seller-edu.ozon.ru)\n\n> [Информационная платформа и сообщество разработчиков Ozon for dev](https://dev.ozon.ru/)\n"
  },
  "servers": [
    {
      "url": "//api-seller.ozon.ru"
    }
  ],
  "paths": {
    "/v4/posting/fbs/unfulfilled/list": {
      "post": {
        "description": "Возвращает список необработанных отправлений за указанный период времени — он должен быть не больше одного года.\n\nВозможные статусы отправлений:\n- `awaiting_registration` — ожидает регистрации;\n- `acceptance_in_progress` — идёт приёмка;\n- `awaiting_approve` — ожидает подтверждения;\n- `awaiting_packaging` — ожидает упаковки;\n- `awaiting_deliver` — ожидает отгрузки;\n- `arbitration` — арбитраж;\n- `client_arbitration` — клиентский арбитраж доставки;\n- `delivering` — доставляется;\n- `driver_pickup` — у водителя;\n- `cancelled` — отменено;\n- `not_accepted` — не принято на сортировочном центре.\n\nЧтобы получать актуальную дату отгрузки, регулярно обновляйте информацию об отправлениях или подключите [пуш-уведомления](#tag/push_start).\n",
        "tags": [
          "FBS"
        ],
        "summary": "Получить список необработанных отправлений",
        "operationId": "PostingFbsUnfulfilledList",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/posting.v4.PostingFbsUnfulfilledListRequest"
              },
              "example": {
                "sort_dir": "asc",
                "limit": 100,
                "filter": {
                  "cutoff_from": "2026-01-21T07:13:56.042Z",
                  "cutoff_to": "2026-01-21T07:13:56.042Z",
                  "delivery_method_ids": [
                    123456
                  ],
                  "statuses": [
                    "awaiting_packaging",
                    "awaiting_deliver",
                    "delivering"
                  ],
                  "warehouse_ids": [
                    3092889984
                  ],
                  "provider_ids": [
                    57
                  ],
                  "last_change_status_date": {
                    "from": "2026-01-21T07:13:56.042Z",
                    "to": "2026-01-21T07:13:56.042Z"
                  }
                },
                "cursor": "",
                "with": {
                  "barcodes": true,
                  "analytics_data": true,
                  "financial_data": true,
                  "legal_info": true
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Список необработанных отправлений",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/posting.v4.PostingFbsUnfulfilledListResponse"
                },
                "example": {
                  "has_next": true,
                  "cursor": "eyJmaWVsZHMiOlt7Im5hbWUiOiJvc3AuY3V0b2ZmIiwiZGlyIjoiYXNjIiwidmFsIjoiMjAyNi0wNS0wNVQwNjo0NDozN1oifSx7Im5hbWUiOiJvc3AuaW5fcHJvY2Vzc19hdCIsImRpciI6ImFzYyIsInZhbCI6IjIwMjYtMDUtMDRUMDY6NDQ6MzdaIn0seyJuYW1lIjoib3NwLmlkIiwiZGlyIjoiYXNjIiwidmFsIjoiMTIwODk3MjIwMiJ9LHsibmFtZSI6Im9zcC5pZCIsImRpciI6ImFzYyIsInZhbCI6IjEyMDg5NzIyMDIifV19",
                  "postings": [
                    {
                      "posting_number": "41517061-0214-1",
                      "order_id": 34953320005,
                      "order_number": "41517061-0214",
                      "pickup_code_verified_at": null,
                      "status": "awaiting_deliver",
                      "substatus": "posting_in_carriage",
                      "delivery_method": {
                        "id": 20605650762000,
                        "name": "Доставка Ozon самостоятельно, Софьино",
                        "warehouse_id": 20605650762000,
                        "warehouse": "17023",
                        "tpl_provider_id": 24,
                        "tpl_provider": "Доставка Ozon"
                      },
                      "delivery_schema": "fbs",
                      "tracking_number": "",
                      "tpl_integration_type": "ozon",
                      "in_process_at": "2026-05-04T06:44:37Z",
                      "integration_type_flow": "ozon",
                      "shipment_date": "2026-05-05T06:44:37Z",
                      "shipment_date_without_delay": "2026-05-06T04:00:00Z",
                      "sorting_center": null,
                      "optional": {
                        "products_with_possible_mandatory_mark": [
                          4116250392
                        ]
                      },
                      "cancellation": {
                        "cancel_reason_id": 0,
                        "cancel_reason": "",
                        "cancellation_type": "",
                        "cancelled_after_ship": false,
                        "affect_cancellation_rating": false,
                        "cancellation_initiator": ""
                      },
                      "customer": null,
                      "products": [
                        {
                          "is_blr_traceable": false,
                          "is_marketplace_buyout": false,
                          "offer_id": "S5200657-28",
                          "name": "Кроссовки для мальчика демисезонные из натуральной кожи",
                          "sku": 4116250392,
                          "quantity": 1,
                          "imei": [],
                          "weight": 0.549,
                          "product_color": "темно-синий",
                          "price": {
                            "amount": "300",
                            "currency": "RUB"
                          }
                        }
                      ],
                      "addressee": null,
                      "barcodes": {
                        "upper_barcode": "0",
                        "lower_barcode": "0"
                      },
                      "analytics_data": {
                        "region": "",
                        "city": "",
                        "delivery_type": "PVZ",
                        "is_premium": false,
                        "payment_type_group_name": "Банковская карта",
                        "warehouse_id": 20605650762000,
                        "warehouse": "17023",
                        "tpl_provider_id": 24,
                        "tpl_provider": "Доставка Ozon",
                        "delivery_date_begin": "2026-05-05T06:38:10Z",
                        "delivery_date_end": "2026-05-06T06:38:10Z",
                        "is_legal": true,
                        "client_delivery_date_begin": null,
                        "client_delivery_date_end": null
                      },
                      "destination_place_id": 0,
                      "destination_place_name": "",
                      "financial_data": {
                        "products": [
                          {
                            "payout": 0,
                            "product_id": 4116250392,
                            "old_price": 300,
                            "price": 300,
                            "total_discount_value": 0,
                            "total_discount_percent": 0,
                            "quantity": 1,
                            "customer_price": {
                              "amount": "300",
                              "currency": "RUB"
                            },
                            "actions": [],
                            "commission": {
                              "amount": 0,
                              "percent": 0,
                              "currency": "RUB"
                            }
                          }
                        ],
                        "cluster_from": "Москва, МО и Дальние регионы",
                        "cluster_to": "Москва, МО и Дальние регионы"
                      },
                      "is_express": false,
                      "legal_info": {
                        "company_name": "",
                        "inn": "",
                        "kpp": ""
                      },
                      "quantum_id": 0,
                      "require_blr_traceable_attrs": false,
                      "requirements": {
                        "products_requiring_gtd": [
                          4116250392
                        ],
                        "products_requiring_country": [],
                        "products_requiring_mandatory_mark": [],
                        "products_requiring_rnpt": [],
                        "products_requiring_jw_uin": [],
                        "products_requiring_change_country": [],
                        "products_requiring_imei": [],
                        "products_requiring_weight": []
                      },
                      "tariffication": {
                        "current_tariff_rate": 3,
                        "current_tariff_type": "commission",
                        "current_tariff_charge": {
                          "amount": "100",
                          "currency": "RUB"
                        },
                        "current_tariff_min_charge": {
                          "amount": "100",
                          "currency": "RUB"
                        },
                        "next_tariff_rate": 0,
                        "next_tariff_type": "",
                        "next_tariff_charge": null,
                        "next_tariff_min_charge": null,
                        "next_tariff_starts_at": null
                      },
                      "external_order": {
                        "is_external": false,
                        "platform_name": ""
                      },
                      "volume_weight": 0,
                      "is_click_and_collect": false,
                      "delivering_date": null,
                      "is_multibox": false,
                      "multi_box_qty": 1,
                      "is_presortable": false,
                      "prr_option": "",
                      "parent_posting_number": "",
                      "available_actions": [
                        "add_additional_info",
                        "cancel",
                        "has_barcode_for_printing",
                        "label_download",
                        "label_download_small"
                      ],
                      "tariffication_steps": [
                        {
                          "min_charge": null,
                          "tariff_charge": {
                            "amount": "9",
                            "currency": "RUB"
                          },
                          "tariff_deadline_at": "2026-05-04T18:44:37Z",
                          "tariff_rate": 3,
                          "tariff_type": "discount"
                        },
                        {
                          "min_charge": null,
                          "tariff_charge": {
                            "amount": "6",
                            "currency": "RUB"
                          },
                          "tariff_deadline_at": "2026-05-05T06:44:37Z",
                          "tariff_rate": 2,
                          "tariff_type": "discount"
                        },
                        {
                          "min_charge": {
                            "amount": "50",
                            "currency": "RUB"
                          },
                          "tariff_charge": {
                            "amount": "50",
                            "currency": "RUB"
                          },
                          "tariff_deadline_at": "2026-05-05T18:44:37Z",
                          "tariff_rate": 1,
                          "tariff_type": "commission"
                        },
                        {
                          "min_charge": {
                            "amount": "100",
                            "currency": "RUB"
                          },
                          "tariff_charge": {
                            "amount": "100",
                            "currency": "RUB"
                          },
                          "tariff_deadline_at": "2026-05-06T06:44:37Z",
                          "tariff_rate": 2,
                          "tariff_type": "commission"
                        },
                        {
                          "min_charge": {
                            "amount": "100",
                            "currency": "RUB"
                          },
                          "tariff_charge": {
                            "amount": "100",
                            "currency": "RUB"
                          },
                          "tariff_deadline_at": "9999-12-31T23:59:59.999999900Z",
                          "tariff_rate": 3,
                          "tariff_type": "commission"
                        }
                      ],
                      "container_sort_type": "sort",
                      "container": null
                    }
                  ],
                  "count": 2177
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "409": {
            "description": "Конфликт запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v4/posting/fbs/list": {
      "post": {
        "description": "Возвращает список отправлений за указанный период времени — он должен быть не больше одного года.\n\n Чтобы получать актуальную дату отгрузки, регулярно обновляйте информацию об отправлениях или подключите [пуш-уведомления](#tag/push_start).\n",
        "tags": [
          "FBS"
        ],
        "summary": "Получить список отправлений",
        "operationId": "PostingFbsList",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/posting.v4.PostingFbsListRequest"
              },
              "example": {
                "sort_dir": "asc",
                "filter": {
                  "order_numbers": [
                    "12345-1"
                  ],
                  "delivery_method_ids": [
                    123456789
                  ],
                  "integration_type_flow": [
                    "ozon"
                  ],
                  "is_blr_traceable": false,
                  "last_changed_status_date": {
                    "from": "2026-04-01T19:47:39.878Z",
                    "to": "2026-04-02T11:47:39.878Z"
                  },
                  "order_id": 123456,
                  "since": "2026-04-01T19:47:39.878Z",
                  "to": "2026-04-02T11:47:39.878Z",
                  "statuses": [
                    "awaiting_packaging",
                    "awaiting_deliver",
                    "delivering",
                    "delivered"
                  ],
                  "provider_ids": [
                    123
                  ],
                  "warehouse_ids": [
                    3092889984
                  ]
                },
                "limit": 100,
                "cursor": "",
                "with": {
                  "analytics_data": true,
                  "barcodes": true,
                  "financial_data": true,
                  "legal_info": true,
                  "translit": true
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Список отправлений",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/posting.v4.PostingFbsListResponse"
                },
                "example": {
                  "cursor": "eyJmaWVsZHMiOlt7Im5hbWUiOiJvc3AuaW5fcHJvY2Vzc19hdCIsImRpciI6ImFzYyIsInZhbCI6IjIwMjYtMDEtMTVUMTA6MzA6MDBaIn0seyJuYW1lIjoib3NwLmlkIiwiZGlyIjoiYXNjIiwidmFsIjoiMTIzNDU2Nzg5MCJ9XX0=",
                  "has_next": false,
                  "postings": [
                    {
                      "addressee": {
                        "name": "Иван Петров"
                      },
                      "analytics_data": {
                        "city": "Москва",
                        "client_delivery_date_begin": "2026-05-20T08:00:00.000Z",
                        "client_delivery_date_end": "2026-05-22T20:00:00.000Z",
                        "delivery_date_begin": "2026-05-18T08:00:00.000Z",
                        "delivery_date_end": "2026-05-19T20:00:00.000Z",
                        "delivery_type": "PVZ",
                        "is_legal": false,
                        "is_premium": true,
                        "payment_type_group_name": "Банковская карта",
                        "region": "Московская область",
                        "tpl_provider": "Доставка Ozon",
                        "tpl_provider_id": 24,
                        "warehouse": "Софьино",
                        "warehouse_id": 17023
                      },
                      "available_actions": [
                        "pack",
                        "ship",
                        "cancel"
                      ],
                      "barcodes": {
                        "lower_barcode": "601302481800001",
                        "upper_barcode": "601302481800001"
                      },
                      "cancellation": {
                        "affect_cancellation_rating": false,
                        "cancel_reason": "",
                        "cancel_reason_id": 0,
                        "cancellation_initiator": "",
                        "cancellation_type": "",
                        "cancelled_after_ship": false
                      },
                      "container": {
                        "cargo_type": "BOX",
                        "container_date": "2026-05-14",
                        "container_id": 100500,
                        "container_number": 42
                      },
                      "container_sort_type": "standard",
                      "customer": {
                        "address": {
                          "address_tail": "д. 15, кв. 78",
                          "city": "Москва",
                          "comment": "Домофон не работает",
                          "country": "Россия",
                          "district": "ЦАО",
                          "latitude": 55.7558,
                          "longitude": 37.6176,
                          "provider_pvz_code": "PVZ123",
                          "pvz_code": 456,
                          "region": "Москва",
                          "zip_code": "101000"
                        },
                        "customer_email": "ivan.petrov@example.com",
                        "customer_id": 12345678,
                        "name": "Иван Петров",
                        "phone": "+79031234567"
                      },
                      "delivering_date": "2026-05-19T15:30:00.000Z",
                      "delivery_method": {
                        "id": 20605650762000,
                        "name": "Доставка Ozon самостоятельно, Софьино",
                        "tpl_provider": "Доставка Ozon",
                        "tpl_provider_id": 24,
                        "warehouse": "17023",
                        "warehouse_id": 20605650762000
                      },
                      "delivery_schema": "fbs",
                      "destination_place_id": 500,
                      "destination_place_name": "ПВЗ №123 на Тверской",
                      "external_order": {
                        "is_external": false,
                        "platform_name": ""
                      },
                      "financial_data": {
                        "cluster_from": "Москва",
                        "cluster_to": "Казань",
                        "products": [
                          {
                            "actions": [
                              "Округление"
                            ],
                            "commission": {
                              "amount": 120,
                              "currency": "RUB",
                              "percent": 10
                            },
                            "customer_price": {
                              "amount": "2500.00",
                              "currency": "RUB"
                            },
                            "old_price": 3000,
                            "payout": 2100,
                            "price": 2500,
                            "product_id": 1904686181,
                            "quantity": 2,
                            "total_discount_percent": 16.67,
                            "total_discount_value": 500
                          }
                        ]
                      },
                      "in_process_at": "2026-05-14T08:00:00.000Z",
                      "integration_type_flow": "ozon",
                      "is_click_and_collect": false,
                      "is_express": false,
                      "is_multibox": false,
                      "is_presortable": true,
                      "legal_info": {
                        "company_name": "ООО Ромашка",
                        "inn": "7701234567",
                        "kpp": "770101001"
                      },
                      "multi_box_qty": 1,
                      "optional": {
                        "products_with_possible_mandatory_mark": []
                      },
                      "order_id": 33301885134,
                      "order_number": "0208245774-0029",
                      "parent_posting_number": "",
                      "pickup_code_verified_at": null,
                      "posting_number": "0208245774-0029-1",
                      "products": [
                        {
                          "imei": [],
                          "is_blr_traceable": false,
                          "is_marketplace_buyout": true,
                          "name": "Смартфон Xiaomi Note 12",
                          "offer_id": "b4408110",
                          "price": {
                            "amount": "12990.00",
                            "currency": "RUB"
                          },
                          "product_color": "чёрный",
                          "quantity": 1,
                          "sku": 1904686181,
                          "weight": 0.42
                        },
                        {
                          "imei": [
                            "123456789012345",
                            "987654321098765"
                          ],
                          "is_blr_traceable": false,
                          "is_marketplace_buyout": false,
                          "name": "Наушники Bluetooth",
                          "offer_id": "h667722",
                          "price": {
                            "amount": "3490.00",
                            "currency": "RUB"
                          },
                          "product_color": "белый",
                          "quantity": 2,
                          "sku": 1904686182,
                          "weight": 0.15
                        }
                      ],
                      "prr_option": "standard",
                      "quantum_id": 98765,
                      "require_blr_traceable_attrs": false,
                      "requirements": {
                        "products_requiring_change_country": [],
                        "products_requiring_country": [],
                        "products_requiring_gtd": [
                          "1904686181"
                        ],
                        "products_requiring_imei": [],
                        "products_requiring_jw_uin": [],
                        "products_requiring_mandatory_mark": [],
                        "products_requiring_rnpt": []
                      },
                      "shipment_date": "2026-05-18T12:00:00.000Z",
                      "shipment_date_without_delay": "2026-05-18T12:00:00.000Z",
                      "sorting_center": null,
                      "status": "awaiting_packaging",
                      "substatus": "posting_created",
                      "tariffication": {
                        "current_tariff_charge": {
                          "amount": "100.00",
                          "currency": "RUB"
                        },
                        "current_tariff_min_charge": {
                          "amount": "50.00",
                          "currency": "RUB"
                        },
                        "current_tariff_rate": 2,
                        "current_tariff_type": "commission",
                        "next_tariff_charge": {
                          "amount": "150.00",
                          "currency": "RUB"
                        },
                        "next_tariff_min_charge": {
                          "amount": "100.00",
                          "currency": "RUB"
                        },
                        "next_tariff_rate": 2.5,
                        "next_tariff_starts_at": "2026-05-20T00:00:00.000Z",
                        "next_tariff_type": "commission"
                      },
                      "tariffication_steps": [
                        {
                          "min_charge": {
                            "amount": "24.00",
                            "currency": "RUB"
                          },
                          "tariff_charge": {
                            "amount": "24.00",
                            "currency": "RUB"
                          },
                          "tariff_deadline_at": "2026-05-15T23:59:59.000Z",
                          "tariff_rate": 2,
                          "tariff_type": "discount"
                        }
                      ],
                      "tpl_integration_type": "ozon",
                      "tracking_number": "TRK1234567890",
                      "volume_weight": 1.2
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "409": {
            "description": "Конфликт запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v3/posting/fbs/get": {
      "post": {
        "summary": "Получить информацию об отправлении по идентификатору",
        "description": "Чтобы получать актуальную дату отгрузки, регулярно обновляйте информацию об отправлениях или подключите [пуш-уведомления](#tag/push_start).",
        "operationId": "PostingAPI_GetFbsPostingV3",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postingv3GetFbsPostingRequest"
              },
              "example": {
                "posting_number": "57195475-0050-3",
                "with": {
                  "analytics_data": false,
                  "barcodes": false,
                  "financial_data": false,
                  "legal_info": false,
                  "product_exemplars": false,
                  "related_postings": true,
                  "translit": false
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Информация об отправлении",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v3GetFbsPostingResponseV3"
                },
                "example": {
                  "result": {
                    "posting_number": "0132112277-0101-1",
                    "order_id": 35566798085,
                    "order_number": "0132112277-0101",
                    "status": "awaiting_packaging",
                    "external_order": {
                      "is_external": false,
                      "platform_name": ""
                    },
                    "delivery_method": {
                      "id": 1020005003107121,
                      "name": "Доставка Ozon самостоятельно, Ногинск",
                      "warehouse_id": 1020005003107121,
                      "warehouse": "FBS LikeSK",
                      "tpl_provider_id": 24,
                      "tpl_provider": "Доставка Ozon"
                    },
                    "tracking_number": "",
                    "tpl_integration_type": "ozon",
                    "in_process_at": "2026-03-30T11:26:00Z",
                    "integration_type_flow": "ozon",
                    "shipment_date": "2026-03-31T09:00:00Z",
                    "delivering_date": null,
                    "provider_status": "",
                    "delivery_price": "",
                    "cancellation": {
                      "cancel_reason_id": 0,
                      "cancel_reason": "",
                      "cancellation_type": "",
                      "cancelled_after_ship": false,
                      "affect_cancellation_rating": false,
                      "cancellation_initiator": ""
                    },
                    "container": {
                      "cargo_type": "BOX",
                      "container_date": "string",
                      "container_id": 0,
                      "container_number": 0
                    },
                    "container_sort_type": "string",
                    "customer": null,
                    "addressee": null,
                    "products": [
                      {
                        "price": "1530.0000",
                        "offer_id": "SK-58 (малиновый)",
                        "name": "Профессиональная плойка Cronier cr-2013 для афро кудрей 9 мм",
                        "sku": 827098843,
                        "quantity": 1,
                        "dimensions": {
                          "height": "150.00",
                          "length": "500.00",
                          "weight": "550",
                          "width": "300.00"
                        },
                        "currency_code": "RUB",
                        "is_blr_traceable": false,
                        "is_marketplace_buyout": false,
                        "has_imei": false,
                        "weight_max": 0.55,
                        "weight_min": 0,
                        "is_weight_needed": false
                      }
                    ],
                    "barcodes": null,
                    "analytics_data": null,
                    "financial_data": null,
                    "additional_data": [],
                    "is_express": false,
                    "requirements": {
                      "products_requiring_gtd": [],
                      "products_requiring_country": [],
                      "products_requiring_mandatory_mark": [],
                      "products_requiring_rnpt": [],
                      "products_requiring_jw_uin": [],
                      "products_requiring_change_country": [],
                      "products_requiring_imei": [],
                      "products_requiring_weight": []
                    },
                    "product_exemplars": null,
                    "courier": null,
                    "parent_posting_number": "",
                    "related_postings": null,
                    "available_actions": [
                      "cancel",
                      "has_barcode_for_printing",
                      "product_cancel",
                      "ship",
                      "ship_async"
                    ],
                    "multi_box_qty": 1,
                    "is_multibox": false,
                    "substatus": "posting_created",
                    "previous_substatus": "posting_split_pending",
                    "prr_option": {
                      "code": "",
                      "price": "",
                      "currency_code": "RUB",
                      "floor": ""
                    },
                    "tariffication": {
                      "current_tariff_rate": 1,
                      "current_tariff_type": "no_discount",
                      "current_tariff_charge": "",
                      "current_tariff_charge_currency_code": "RUB",
                      "next_tariff_rate": 1,
                      "next_tariff_type": "commission",
                      "next_tariff_charge": "50",
                      "next_tariff_starts_at": "2026-03-31T09:00:01Z",
                      "next_tariff_charge_currency_code": "RUB"
                    },
                    "destination_place_id": 0,
                    "destination_place_name": "",
                    "is_presortable": false,
                    "pickup_code_verified_at": null,
                    "optional": {
                      "products_with_possible_mandatory_mark": []
                    },
                    "fact_delivery_date": null,
                    "legal_info": {
                      "company_name": "",
                      "inn": "",
                      "kpp": ""
                    },
                    "related_weight_postings": [],
                    "shipment_date_without_delay": "2026-04-04T16:59:00Z",
                    "sorting_center": null,
                    "require_blr_traceable_attrs": false,
                    "is_click_and_collect": false,
                    "tariffication_steps": [
                      {
                        "min_charge": null,
                        "tariff_charge": {
                          "amount": "0",
                          "currency": "RUB"
                        },
                        "tariff_deadline_at": "2026-03-31T09:00:00Z",
                        "tariff_rate": 0,
                        "tariff_type": "no_discount"
                      },
                      {
                        "min_charge": {
                          "amount": "50",
                          "currency": "RUB"
                        },
                        "tariff_charge": {
                          "amount": "50",
                          "currency": "RUB"
                        },
                        "tariff_deadline_at": "2026-03-31T21:00:00Z",
                        "tariff_rate": 1,
                        "tariff_type": "commission"
                      },
                      {
                        "min_charge": {
                          "amount": "50",
                          "currency": "RUB"
                        },
                        "tariff_charge": {
                          "amount": "50",
                          "currency": "RUB"
                        },
                        "tariff_deadline_at": "2026-04-01T09:00:00Z",
                        "tariff_rate": 1,
                        "tariff_type": "commission"
                      },
                      {
                        "min_charge": {
                          "amount": "100",
                          "currency": "RUB"
                        },
                        "tariff_charge": {
                          "amount": "100",
                          "currency": "RUB"
                        },
                        "tariff_deadline_at": "2026-04-01T21:00:00Z",
                        "tariff_rate": 2,
                        "tariff_type": "commission"
                      },
                      {
                        "min_charge": {
                          "amount": "100",
                          "currency": "RUB"
                        },
                        "tariff_charge": {
                          "amount": "100",
                          "currency": "RUB"
                        },
                        "tariff_deadline_at": "2026-04-02T09:00:00Z",
                        "tariff_rate": 2,
                        "tariff_type": "commission"
                      },
                      {
                        "min_charge": {
                          "amount": "150",
                          "currency": "RUB"
                        },
                        "tariff_charge": {
                          "amount": "150",
                          "currency": "RUB"
                        },
                        "tariff_deadline_at": "9999-12-31T23:59:59.999999900Z",
                        "tariff_rate": 3,
                        "tariff_type": "commission"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "409": {
            "description": "Конфликт запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "tags": [
          "FBS"
        ]
      }
    },
    "/v1/posting/fbs/restrictions": {
      "post": {
        "tags": [
          "FBS"
        ],
        "summary": "Получить ограничения пункта приёма",
        "description": "Метод для получения габаритных, весовых и прочих ограничений пункта приёма по номеру отправления. Метод применим только для работы по схеме FBS.",
        "operationId": "PostingAPI_GetRestrictions",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1GetRestrictionsRequest"
              },
              "example": {
                "posting_number": "76673629-0020-1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ограничения пункта приёма",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1GetRestrictionsResponse"
                },
                "example": {
                  "result": {
                    "posting_number": "76673629-0020-1",
                    "max_posting_weight": 40000,
                    "min_posting_weight": 0,
                    "width": 500,
                    "height": 500,
                    "length": 500,
                    "max_posting_price": 500000,
                    "min_posting_price": 0
                  }
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "409": {
            "description": "Конфликт запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v2/posting/fbs/product/country/list": {
      "post": {
        "tags": [
          "FBS"
        ],
        "summary": "Список доступных стран-изготовителей",
        "description": "Метод для получения списка доступных стран-изготовителей и их ISO кодов.",
        "operationId": "PostingAPI_ListCountryProductFbsPostingV2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v2FbsPostingProductCountryListRequest"
              },
              "example": {
                "name_search": "Алжир"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Список доступных стран-изготовителей",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2FbsPostingProductCountryListResponse"
                },
                "example": {
                  "result": [
                    {
                      "name": "Алжир",
                      "country_iso_code": "DZ"
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v2/posting/fbs/product/country/set": {
      "post": {
        "tags": [
          "FBS"
        ],
        "summary": "Добавить информацию о стране-изготовителе товара",
        "description": "Метод для добавления на продукт атрибута «Страна-изготовитель», если он не был указан.",
        "operationId": "PostingAPI_SetCountryProductFbsPostingV2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v2FbsPostingProductCountrySetRequest"
              },
              "example": {
                "country_iso_code": "NO",
                "posting_number": "57195475-0050-3",
                "product_id": 180550365
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Страна-изготовитель добавлена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2FbsPostingProductCountrySetResponse"
                },
                "example": {
                  "product_id": 180550365,
                  "is_gtd_needed": true
                }
              }
            }
          },
          "default": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v6/fbs/posting/product/exemplar/create-or-get": {
      "post": {
        "summary": "Получить данные созданных экземпляров",
        "description": "Метод для получения информации по экземплярам товаров из отправления, переданных в методе [/v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6).\n\nИспользуйте метод для получения `exemplar_id`.\n",
        "operationId": "PostingAPI_FbsPostingProductExemplarCreateOrGetV6",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v6FbsPostingProductExemplarCreateOrGetV6Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Данные экземпляров",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v6FbsPostingProductExemplarCreateOrGetV6Response"
                }
              }
            }
          },
          "default": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "tags": [
          "FBS&rFBSMarks"
        ]
      }
    },
    "/v5/fbs/posting/product/exemplar/validate": {
      "post": {
        "summary": "Валидация кодов маркировки",
        "description": "Метод для проверки кодов на соответствие требованиям системы «Честный ЗНАК» по количеству и составу символов, а также других маркировок.\n\nЕсли у вас нет номера грузовой таможенной декларации (ГТД), вы можете его не указывать.\n",
        "operationId": "PostingAPI_FbsPostingProductExemplarValidateV5",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v5FbsPostingProductExemplarValidateV5Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Результат валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v5FbsPostingProductExemplarValidateV5Response"
                }
              }
            }
          },
          "default": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "tags": [
          "FBS&rFBSMarks"
        ]
      }
    },
    "/v6/fbs/posting/product/exemplar/set": {
      "post": {
        "summary": "Проверить и сохранить данные экземпляров",
        "description": "Асинхронный метод:\n- для проверки наличия экземпляров в обороте в системе «Честный ЗНАК»;\n- для сохранения данных экземпляров. \n\nЧтобы получить результаты проверок, используйте метод [/v5/fbs/posting/product/exemplar/status](#operation/PostingAPI_FbsPostingProductExemplarStatusV5). \nДля получения данных о созданных экземплярах, используйте метод [/v6/fbs/posting/product/exemplar/create-or-get](#operation/PostingAPI_FbsPostingProductExemplarCreateOrGetV6).\n\nЕсли у вас несколько одинаковых товаров в отправлении, укажите один `product_id` и массив `exemplars` для каждого товара из отправления.\n\nВсегда передавайте полный набор данных по экземплярам и продуктам. \n\nНапример, в вашей системе 10 экземпляров. \nВы передали их для проверки и сохранения. \nПотом добавили в своей системе ещё 60 экземпляров.\nПри повторной передаче экземпляров для проверки и сохранения укажите все экземпляры: и старые, и только что добавленные.\n\nКод ответа 200 не гарантирует, что данные об экземплярах приняты. \nОн указывает, что создана задача для добавления информации. \nЧтобы проверить статус задачи, используйте метод [/v5/fbs/posting/product/exemplar/status](#operation/PostingAPI_FbsPostingProductExemplarStatusV5).\n",
        "operationId": "PostingAPI_FbsPostingProductExemplarSetV6",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v6FbsPostingProductExemplarSetV6Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Запрос обработан"
          },
          "default": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "tags": [
          "FBS&rFBSMarks"
        ]
      }
    },
    "/v5/fbs/posting/product/exemplar/status": {
      "post": {
        "summary": "Получить статус добавления экземпляров",
        "description": "Метод для получения статусов добавления экземпляров, переданных в методе [/v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6). Также возвращает данные по этим экземплярам.\n",
        "operationId": "PostingAPI_FbsPostingProductExemplarStatusV5",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v5FbsPostingProductExemplarStatusV5Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Статусы проверки экземпляров",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v5FbsPostingProductExemplarStatusV5Response"
                }
              }
            }
          },
          "default": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "tags": [
          "FBS&rFBSMarks"
        ]
      }
    },
    "/v3/posting/multiboxqty/set": {
      "post": {
        "summary": "Указать количество коробок для многокоробочных отправлений",
        "description": "Метод для передачи количества коробок для отправлений, в которых есть многокоробочные товары.\n\nИспользуйте метод при работе по схеме rFBS Агрегатор — c доставкой партнёрами Ozon.\n",
        "operationId": "PostingAPI_PostingMultiBoxQtySetV3",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postingv3PostingMultiBoxQtySetV3Request"
              },
              "example": {
                "multi_box_qty": 321231,
                "posting_number": "228245774-2229-1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Количество коробок указано",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/postingv3PostingMultiBoxQtySetV3Response"
                },
                "example": {
                  "result": {
                    "result": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "409": {
            "description": "Конфликт запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "tags": [
          "FBS"
        ]
      }
    },
    "/v4/posting/fbs/ship": {
      "post": {
        "tags": [
          "FBS&rFBSMarks"
        ],
        "summary": "Собрать заказ (версия 4)",
        "description": "<aside class=\"warning\">\nОтвет с кодом <tt>200</tt> не гарантирует успешную сборку заказа. Используйте метод <a href=\"#operation/PostingAPI_GetFbsPostingV3\">/v3/posting/fbs/get</a>, чтобы проверить, что заказ собран. Если в ответе указан <tt>result.substatus = ship_failed</tt>, повторите сборку заказа.\n</aside>\n\nДелит заказ на отправления и переводит его в статус `awaiting_deliver`.\n\nКаждый элемент в `packages` может содержать несколько элементов `products` или отправлений. \nКаждый элемент в `products` — это товар, включённый в данное отправление.\n\nРазделить заказ нужно, если:\n  - товары не помещаются в одну упаковку,\n  - товары нельзя сложить в одну упаковку.\n  \nЧтобы разделить заказ, передайте в массиве `packages` несколько объектов.\n\nПример запроса, когда заказ разделять не нужно: 2 товара будут в одном отправлении.\n```\n{\n  \"packages\": [\n    {\n      \"products\": [\n        {\n          \"product_id\": 185479045,\n          \"quantity\": 2\n        }\n      ]\n    }\n  ],\n  \"posting_number\": \"89491381-0072-1\"\n}\n```\n\nПример запроса, когда заказ нужно разделить: каждый товар будет в отдельном отправлении.\n\n```\n{\n  \"packages\": [\n    {\n      \"products\": [\n        {\n          \"product_id\": 185479045,\n          \"quantity\": 1\n        }\n      ]\n    },\n    {\n      \"products\": [\n        {\n          \"product_id\": 185479045,\n          \"quantity\": 1\n        }\n      ]\n    }\n  ],\n  \"posting_number\": \"89491381-0072-1\"\n}    \n```  \n\nЧтобы внести информацию по экземплярам, используйте метод [/v6/fbs/posting/product/exemplar/set](#operation/PostingAPI_FbsPostingProductExemplarSetV6).\n",
        "operationId": "PostingAPI_ShipFbsPostingV4",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/fbsv4FbsPostingShipV4Request"
              },
              "example": {
                "packages": [
                  {
                    "products": [
                      {
                        "product_id": 185479045,
                        "quantity": 1
                      }
                    ]
                  }
                ],
                "posting_number": "89491381-0072-1",
                "with": {
                  "additional_data": true
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Результат сборки заказа",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/fbsv4FbsPostingShipV4Response"
                },
                "example": {
                  "additional_data": [
                    {
                      "posting_number": "89491381-0072-1",
                      "products": [
                        {
                          "currency_code": "RUB",
                          "mandatory_mark": [
                            "123"
                          ],
                          "name": "string",
                          "offer_id": "17125",
                          "price": "2000",
                          "quantity": 1,
                          "sku": 149618972
                        }
                      ]
                    }
                  ],
                  "result": [
                    "89491381-0072-1"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v4/posting/fbs/ship/package": {
      "post": {
        "tags": [
          "FBS&rFBSMarks"
        ],
        "summary": "Частичная сборка отправления (версия 4)",
        "description": "<aside class=\"warning\">\nОтвет с кодом <tt>200</tt> не гарантирует успешную сборку отправления. Используйте метод <a href=\"#operation/PostingAPI_GetFbsPostingV3\">/v3/posting/fbs/get</a>, чтобы проверить, что отправление собрано. Если в ответе указан <tt>result.substatus = ship_failed</tt>, повторите сборку отправления.\n</aside>\n\nЕсли в запросе передать часть товаров из отправления, метод разделит первичное отправление на две части. \nВ первичном несобранном отправлении останется часть товаров, которую не передали в запросе.\n\nПо умолчанию статус созданных отправлений `awaiting_packaging` — ожидает сборки.\n\nСтатус изначального отправления изменится только после изменения статуса отправлений, на которые он разделился.\n",
        "operationId": "PostingAPI_ShipFbsPostingPackage",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v4FbsPostingShipPackageV4Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Результат сборки отправления",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v4FbsPostingShipPackageV4Response"
                }
              }
            }
          },
          "default": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v2/posting/fbs/package-label/create": {
      "post": {
        "summary": "Создать задание на формирование этикеток",
        "description": "<aside class=\"warning\">\nЕсли вы работаете по схеме rFBS или rFBS Express, изучите процесс печати этикетки в <a href=\"https://seller-edu.ozon.ru/rfbs/scheme-of-work\">Базе знаний продавца</a>.\n</aside>\n\nМетод для создания задания на асинхронное формирование этикеток для отправлений в статусе «Ожидает отгрузки» — `awaiting_deliver`.\nМетод может вернуть несколько заданий: на формирование маленькой и большой этикетки.\n\nРекомендуем запрашивать этикетки через 45–60 секунд после сборки заказа.\n\nЧтобы получить созданные этикетки, используйте [/v1/posting/fbs/package-label/get](#operation/PostingAPI_GetLabelBatch).\n",
        "operationId": "PostingAPI_CreateLabelBatchV2",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1CreateLabelBatchRequest"
              },
              "example": {
                "posting_number": [
                  "4708216109137",
                  "3697105098026"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Задания на формирование этикеток",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2CreateLabelBatchResponse"
                },
                "example": {
                  "result": {
                    "tasks": [
                      {
                        "task_id": 5819327210248,
                        "task_type": "big_label"
                      },
                      {
                        "task_id": 5819327210249,
                        "task_type": "small_label"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "409": {
            "description": "Конфликт запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "tags": [
          "FBS"
        ]
      }
    },
    "/v1/posting/fbs/package-label/get": {
      "post": {
        "summary": "Получить файл с этикетками",
        "description": "Метод для получения этикеток после вызова [/v1/posting/fbs/package-label/create](#operation/PostingAPI_CreateLabelBatch).",
        "operationId": "PostingAPI_GetLabelBatch",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1GetLabelBatchRequest"
              },
              "example": {
                "task_id": "323231234-1234"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Статус формирования этикеток или файл с ними",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1GetLabelBatchResponse"
                },
                "example": {
                  "result": {
                    "error": "",
                    "status": "completed",
                    "file_url": "https://ir.ozone.ru/s3/ord-tmp-12/small_label/ticket-00-0000-0000.pdf",
                    "printed_postings_count": 1,
                    "unprinted_postings_count": 0,
                    "unprinted_postings": []
                  }
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "409": {
            "description": "Конфликт запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "tags": [
          "FBS"
        ]
      }
    },
    "/v2/posting/fbs/package-label": {
      "post": {
        "summary": "Напечатать этикетку",
        "description": "<aside class=\"warning\">\nЕсли вы работаете по схеме rFBS или rFBS Express, изучите процесс печати этикетки в <a href=\"https://seller-edu.ozon.ru/rfbs/scheme-of-work\">Базе знаний продавца</a>.\n</aside>\n\nГенерирует PDF-файл с этикетками для указанных отправлений в статусе «Ожидает отгрузки» — `awaiting_deliver`. В одном запросе можно передать не больше 20 идентификаторов. Если хотя бы для одного отправления возникнет ошибка, этикетки не будут подготовлены для всех отправлений в запросе.\n\nРекомендуем запрашивать этикетки через 45–60 секунд после сборки заказа.\n\nОшибка `The next postings aren't ready` означает, что этикетки ещё не готовы, повторите запрос позднее.\n",
        "operationId": "PostingAPI_PostingFBSPackageLabel",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postingPostingFBSPackageLabelRequest"
              },
              "example": {
                "posting_number": [
                  "48173252-0034-4"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Маркировка напечатана",
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/postingPostingFBSPackageLabelResponse"
                },
                "example": {
                  "content_type": "application/pdf",
                  "file_name": "ticket-170660-2023-07-13T13:17:06Z.pdf",
                  "file_content": "%PDF-1.7\n%âãÏÓ\n53 0 obj\n<</MarkInfo<</Marked true/Type/MarkInfo>>/Pages 9 0 R/StructTreeRoot 10 0 R/Type/Catalog>>\nendobj\n8 0 obj\n<</Filter/FlateDecode/Length 2888>>\nstream\nxå[[ݶ\u0011~?¿BÏ\u0005Bs\u001c^\u0000Àwí5ú\u0010 m\u0016Èsà¦)\n;hÒ\u0014èÏïG\u0014)<{äµ] ]?¬¬oIÎ}¤F±óϤñï\u001bÕü×X­´OÏï?^~¹$<ø¨È9q\u0013Y\u0012åñì§_¼|ÿégü\t+\u0012\u001bxª}Æxҿ¿¼_º¼xg¦þ5OkuÌ3ýíògüûå\"Ni\u0016C\u0001°\u000fA9g'r¢\"\u0013YóĪ\u0018NÑ{\u001dÕóZ¬\\Ô\""
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "409": {
            "description": "Конфликт запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "tags": [
          "FBS"
        ]
      }
    },
    "/v1/carriage/create": {
      "post": {
        "summary": "Создание отгрузки",
        "description": "\n<aside class=\"warning\">\nЕсли вы продавец не из России, обратите внимание на доступность <a href=\"https://seller-edu.ozon.ru/fbs/ozon-logistika/sobrat-zakazy#шаг-2-сформируите-отгрузку\">рекомендованного времени</a> в личном кабинете.\n</aside>\n\nИспользуйте метод для создания первой FBS отгрузки. В неё попадут все отправления со статусом «Готов к отгрузке». Созданная отгрузка получит статус `new`.\n\nДля отгрузки в статусе `new` можно перезаписать состав отправлений методом [/v1/carriage/set-postings](#operation/CarriageAPI_SetPostings). Если из отгрузки исключить часть отправлений, они могут попасть в следующую отгрузку. \n\nЧтобы получить список отправлений в отгрузке, используйте метод [/v2/posting/fbs/act/get-postings](#operation/PostingAPI_ActPostingList).\n",
        "operationId": "CarriageAPI_CarriageCreate",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1CarriageCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Информация об отгрузке",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1CarriageCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "409": {
            "description": "Конфликт запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "tags": [
          "DeliveryFBS"
        ]
      }
    },
    "/v1/carriage/set-postings": {
      "post": {
        "summary": "Изменение состава отгрузки",
        "description": "\n<aside class=\"warning\">\nМетод недоступен для продавцов из СНГ. <br>\n\nПолностью перезаписывает список заказов в отгрузке. Передавайте только те заказы, которые находятся в статусе <code>Ожидает отгрузки</code>, и вы готовы их отгрузить.    \n\nМенять состав можно только у отгрузок со статусом `new`.\n</aside>\n\n<br>\n\n<aside class=\"notice\">\nЧтобы вернуться к списку заказов, удалите отгрузку с помощью метода <a href=\"#operation/CarriageAPI_CarriageCancel\">/v1/carriage/cancel</a>, и создайте новую.\n</aside>\n",
        "operationId": "CarriageAPI_SetPostings",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1SetPostingsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Информация об отправлении",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1SetPostingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "409": {
            "description": "Конфликт запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "tags": [
          "DeliveryFBS"
        ]
      }
    },
    "/v1/carriage/approve": {
      "post": {
        "summary": "Подтверждение отгрузки",
        "description": "\nИспользуйте метод, чтобы подтвердить отгрузку после её создания.\nПосле подтверждения отгрузка перейдёт в статус «Сформирована».\n\nПосле подтверждения отгрузки вы можете получить лист отгрузки методом [/v2/posting/fbs/act/get-pdf](#operation/PostingAPI_PostingFBSGetAct) и штрихкод отгрузки методом [/v2/posting/fbs/act/get-barcode](#operation/PostingAPI_PostingFBSGetBarcode). \n",
        "operationId": "CarriageAPI_CarriageApprove",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1CarriageApproveRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Отгрузка подтверждена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1CarriageApproveResponse"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "409": {
            "description": "Конфликт запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "tags": [
          "DeliveryFBS"
        ]
      }
    },
    "/v1/carriage/get": {
      "post": {
        "tags": [
          "DeliveryFBS"
        ],
        "summary": "Информация о перевозке",
        "operationId": "CarriageGet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/carriageCarriageGetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Информация о перевозке",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/carriageCarriageGetResponse"
                }
              }
            }
          },
          "default": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v2/posting/fbs/act/get-barcode": {
      "post": {
        "summary": "Штрихкод для отгрузки отправления",
        "description": "Метод для получения штрихкода, который нужно показать в пункте выдачи или сортировочном центре при отгрузке отправления.",
        "operationId": "PostingAPI_PostingFBSGetBarcode",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v2PostingFBSGetBarcodeRequest"
              },
              "example": {
                "id": "295662811"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Штрихкод для отправления",
            "content": {
              "image/png": {
                "schema": {
                  "$ref": "#/components/schemas/v2PostingFBSGetBarcodeResponse"
                },
                "example": {
                  "content_type": "image/png",
                  "file_name": "20913984_barcode.png",
                  "file_content": "PNG\r\n\u001a\n\u0000\u0000\u0000\rIHDR\u0000\u0000\u0003\u0010\u0000\u0000\u0000\u0010\u0000\u0000\u0000\u0000íZ\u000e'\u0000\u0000\u0002pIDATxìÕÁJ\u00031\u0014@Q+þÿ/×E\u0017\u000e¼\u0010u¡-ç¬$£Éˌp?î÷·§t» }ýü¸Ãcåz¹2wOWû\\Ϛ뫧×Ùö;ì|rÇýßîç¼úî{§¬N?í7oìv¸®µ¹Ãùû¹¾ÿÏ9ÿî?a¸ºéê7O&߿É9çÉ\u000eÏáý¯\u0007\u0000à\u0012\b\u0000@\u0000\u0004\u0002$\u0010\u0000$\u0000 \t\u0004\u0000I \u0000H\u0002\u0001@\u0012\b\u0000@\u0000\u0004\u0002$\u0010\u0000$\u0000 \t\u0004\u0000I \u0000H\u0002\u0001@\u0012\b\u0000@\u0000\u0004\u0002$\u0010\u0000$\u0000 \t\u0004\u0000I \u0000H\u0002\u0001@\u0012\b\u0000@\u0000\u0004\u0002$\u0010\u0000$\u0000 \t\u0004\u0000I \u0000H\u0002\u0001@\u0012\b\u0000@\u0000\u0004\u0002$\u0010\u0000"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "409": {
            "description": "Конфликт запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "tags": [
          "DeliveryFBS"
        ]
      }
    },
    "/v2/posting/fbs/act/get-barcode/text": {
      "post": {
        "summary": "Значение штрихкода для отгрузки отправления",
        "description": "Используйте этот метод, чтобы получить штрихкод из ответа\n[/v2/posting/fbs/act/get-barcode](#operation/PostingAPI_PostingFBSGetBarcode) в текстовом виде.\n",
        "tags": [
          "DeliveryFBS"
        ],
        "operationId": "PostingAPI_PostingFBSGetBarcodeText",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v2PostingFBSGetBarcodeRequest"
              },
              "example": {
                "id": "295662811"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Значение штрихкода",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v2PostingFBSGetBarcodeTextResponse"
                },
                "example": {
                  "result": "%303%24276481394"
                }
              }
            }
          },
          "default": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v2/posting/fbs/digital/act/get-pdf": {
      "post": {
        "tags": [
          "DeliveryFBS"
        ],
        "summary": "Получить лист отгрузки по перевозке",
        "deprecated": true,
        "description": "<aside class=\"warning\">\nМетод устаревает и будет отключён 22 марта 2026 года. Переключитесь на <a href=\"#operation/PostingAPI_PostingFBSGetAct\">/v2/posting/fbs/act/get-pdf</a>.\n</aside>\n\nВы можете получить документы, если в ответе метода [/v2/posting/fbs/digital/act/check-status](#operation/PostingAPI_PostingFBSDigitalActCheckStatus) был один из статусов:\n- `FORMED` — перевозка сформирована успешно,\n- `CONFIRMED` — перевозка подтверждена Ozon,\n- `CONFIRMED_WITH_MISMATCH` — перевозка принята Ozon с расхождениями.\n",
        "operationId": "PostingAPI_PostingFBSGetDigitalAct",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v2PostingFBSGetDigitalActRequest"
              },
              "example": {
                "id": 900000250859000,
                "doc_type": "act_of_acceptance"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Файл с документом",
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/v2PostingFBSGetDigitalActResponse"
                },
                "example": {
                  "content_type": "application/pdf",
                  "file_name": "20816409_act_of_mismatch.pdf",
                  "file_content": "%PDF-1.4\n%ÓôÌá\n1 0 obj\n<<\n/Creator(Chromium)\n/Producer(PDFsharp 1.50.5147 \\([www.pdfsharp.com|http://www.pdfsharp.com/]\\) \\(Original: Skia/PDF m103\\))\n/CreationDate(D:20230625092529+00'00')\n/ModDate(D:20230625092529+00'00')\n>>\nendobj\n2 0 obj\n<<\n/Type/Page\n/Resources\n<<\n/ProcSet[/PDF/Text/ImageB/ImageC/ImageI]\n/ExtGState\n<<\n/G3 3 0 R\n/G8 8 0 R\n>>\n/XObject\n<<\n/X6 6 0 R\n/X7 7 0 R\n>>\n/Font\n<<\n/F4 4 0 R\n/F5 5 0 R\n>>\n>>\n/MediaBox[0 0 594.96 841.92]\n/Contents 9 0 R\n/StructParents 0\n/Parent 13 0 R\n/Group\n<<\n/CS/DeviceRGB\n/S/Transparency\n>>\n>>\nendobj\n3 0 obj\n<<\n/ca 1\n/BM/Normal\n>>\nendobj\n4 0 obj\n<<\n/Type/Font\n/Subtype/Type0\n/BaseFont/AAAAAA+LiberationSans\n/Encoding/Identity-H\n/DescendantFonts[160 0 R]\n/ToUnicode 161 0 R\n>>\nendobj\n5 0 obj\n<<\n/Type/Font\n/Subtype/Type0\n/BaseFont/BAAAAA+LiberationSans-Bold\n/Encoding/Identity-H\n/DescendantFonts[164 0"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "409": {
            "description": "Конфликт запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v2/posting/fbs/awaiting-delivery": {
      "post": {
        "summary": "Передать отправление к отгрузке",
        "description": "Передает спорные заказы к отгрузке. Статус отправления изменится на `awaiting_deliver`.",
        "operationId": "PostingAPI_MoveFbsPostingToAwaitingDelivery",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v2MovePostingToAwaitingDeliveryRequest"
              },
              "example": {
                "posting_number": [
                  "33920143-1195-1"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Отправление передано к отгрузке",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/postingBooleanResponse"
                },
                "example": {
                  "result": true
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "409": {
            "description": "Конфликт запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "tags": [
          "FBS"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "posting.v4.PostingFbsUnfulfilledListRequest": {
        "type": "object",
        "properties": {
          "cursor": {
            "type": "string",
            "description": "Указатель для выборки следующих данных."
          },
          "filter": {
            "$ref": "#/components/schemas/posting.v4.PostingFbsUnfulfilledListRequest.Filter"
          },
          "limit": {
            "type": "integer",
            "format": "int64",
            "minimum": 1,
            "maximum": 100,
            "description": "Количество значений в ответе."
          },
          "sort_dir": {
            "$ref": "#/components/schemas/posting.v4.PostingFbsUnfulfilledListRequest.SortDir.Enum"
          },
          "translit": {
            "description": "`true`, чтобы включить транслитерацию адреса из кириллицы в латиницу.\n",
            "type": "boolean"
          },
          "with": {
            "$ref": "#/components/schemas/posting.v4.PostingFbsUnfulfilledListRequest.With"
          }
        }
      },
      "posting.v4.PostingFbsUnfulfilledListRequest.Filter": {
        "type": "object",
        "description": "Фильтр запроса.\n\nИспользуйте фильтр по времени сборки — `cutoff` или по дате передачи отправления в доставку — `delivering_date`.\nЕсли использовать их вместе, в ответе вернётся ошибка.\n\nЧтобы использовать фильтр по времени сборки, заполните поля `cutoff_from` и `cutoff_to`.\n\nЧтобы использовать фильтр по дате передачи отправления в доставку, заполните поля `delivering_date_from` и `delivering_date_to`.\n",
        "properties": {
          "cutoff_from": {
            "type": "string",
            "format": "date-time",
            "pattern": " YYYY-MM-DDThh:mm:ss.mcsZ",
            "description": "Время, до которого продавцу нужно собрать заказ. Начало периода."
          },
          "cutoff_to": {
            "type": "string",
            "format": "date-time",
            "pattern": " YYYY-MM-DDThh:mm:ss.mcsZ",
            "description": "Время, до которого продавцу нужно собрать заказ. Конец периода."
          },
          "delivering_date_from": {
[...]
