{
  "openapi": "3.0.0",
  "info": {
    "title": "Документация Ozon Seller API",
    "version": 2.1,
    "x-logo": {
      "url": "https://st.ozone.ru/s3/redoc/ozon-seller-logo.svg",
      "backgroundColor": null,
      "altText": "Ozon logo"
    },
    "description": "По вопросам работы с Seller API обращайтесь в поддержку через личный кабинет.\n\n<aside class=\"warning\">Обновляем корневой TLS/SSL-сертификат GlobalSign — вместо него будем использовать <a href=\"https://app.harica.gr/\">HARICA</a>.<br><a href=\"https://dev.ozon.ru/news/775-Izmeneniia-v-Ozon-API-migratsiia-kornevogo-sertifikata-UTs-Ozon/\">Подробнее о переходе на HARICA на платформе разработчиков Ozon for dev</a></aside>\n\n> [Инструкции по работе с маркетплейсом](https://seller-edu.ozon.ru)\n\n> [Информационная платформа и сообщество разработчиков Ozon for dev](https://dev.ozon.ru/)\n"
  },
  "servers": [
    {
      "url": "//api-seller.ozon.ru"
    }
  ],
  "paths": {
    "/v1/returns/list": {
      "post": {
        "tags": [
          "ReturnsAPI"
        ],
        "summary": "Информация о возвратах FBO и FBS",
        "description": "Метод для получения информации о возвратах FBO и FBS.",
        "operationId": "returnsList",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1GetReturnsListRequest"
              },
              "example": {
                "filter": {
                  "logistic_return_date": {
                    "time_from": "2026-02-01T00:00:00Z",
                    "time_to": "2026-03-01T23:59:59Z"
                  },
                  "order_id": "7000123456",
                  "posting_numbers": [
                    "789456123-0002-3",
                    "123456789-0001-1"
                  ],
                  "product_name": "Тестовый товар",
                  "offer_id": "test-offer-123456",
                  "visual_status_name": "ArrivedAtReturnPlace",
                  "warehouse_id": "3000007863",
                  "barcode": "test-barcode-123456789",
                  "return_schema": "FBS"
                },
                "limit": 500,
                "last_id": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Информация по возвратам",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1GetReturnsListResponse"
                },
                "example": {
                  "returns": [
                    {
                      "exemplars": [
                        {
                          "id": "1019562967545956"
                        }
                      ],
                      "id": "1000015552",
                      "company_id": "3058",
                      "return_reason_name": "Покупатель отказался при вручении: недоволен качеством товара",
                      "type": "FullReturn",
                      "schema": "Fbs",
                      "order_id": "24540784250",
                      "order_number": "58544282-0057",
                      "place": {
                        "id": "23869688194000",
                        "name": "СЦ_Львовский_Возвраты",
                        "address": "Россия, обл. Московская, г. Подольск, промышленная зона Львовский, ул. Московская, д. 69, стр. 5"
                      },
                      "target_place": {
                        "id": "23869688194000",
                        "name": "СЦ_Львовский_Возвраты",
                        "address": "Россия, обл. Московская, г. Подольск, промышленная зона Львовский, ул. Московская, д. 69, стр. 5"
                      },
                      "storage": {
                        "sum": {
                          "currency_code": "RUB",
                          "price": "1231"
                        },
                        "tariffication_first_date": "2024-07-30T06:15:48.998146Z",
                        "tariffication_start_date": "2024-07-29T06:15:48.998146Z",
                        "arrived_moment": "2024-07-29T06:15:48.998146Z",
                        "days": "0",
                        "utilization_sum": {
                          "currency_code": "RUB",
                          "price": "1231"
                        },
                        "utilization_forecast_date": "2024-07-29T06:15:48.998146Z"
                      },
                      "product": {
                        "sku": "1100526203",
                        "offer_id": "81451",
                        "name": "Кукла Дотти Плачущий младенец Cry Babies Dressy Dotty",
                        "price": {
                          "currency_code": "RUB",
                          "price": "3318"
                        },
                        "price_without_commission": {
                          "currency_code": "RUB",
                          "price": "3318"
                        },
                        "commission_percent": "1.2",
                        "commission": {
                          "currency_code": "RUB",
                          "price": "2312"
                        },
                        "quantity": 1
                      },
                      "logistic": {
                        "technical_return_moment": "2024-07-29T06:15:48.998146Z",
                        "final_moment": "2024-07-29T06:15:48.998146Z",
                        "cancelled_with_compensation_moment": "2024-07-29T06:15:48.998146Z",
                        "return_date": "2024-07-29T06:15:48.998146Z",
                        "barcode": "ii5275210303"
                      },
                      "visual": {
                        "status": {
                          "id": 3,
                          "display_name": "В пункте выдачи",
                          "sys_name": "ArrivedAtReturnPlace"
                        },
                        "change_moment": "2024-07-29T06:15:48.998146Z"
                      },
                      "additional_info": {
                        "is_opened": true,
                        "is_super_econom": false
                      },
                      "source_id": "90426223",
                      "posting_number": "58544282-0057-1",
                      "clearing_id": "21190893156000",
                      "return_clearing_id": null,
                      "compensation_status": {
                        "status": {
                          "id": 2,
                          "display_name": "Вы получили компенсацию",
                          "sys_name": "Received"
                        },
                        "change_moment": "2025-11-06T16:06:56.639Z"
                      }
                    }
                  ],
                  "has_next": false
                }
              }
            }
          },
          "default": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v1/returns/company/fbs/info": {
      "post": {
        "tags": [
          "ReturnAPI"
        ],
        "summary": "Количество возвратов FBS",
        "description": "Метод для получения информации о возвратах FBS и их количестве.",
        "operationId": "returnsCompanyFBSInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1ReturnsCompanyFbsInfoRequest"
              },
              "example": {
                "filter": {
                  "place_id": 0
                },
                "pagination": {
                  "last_id": 0,
                  "limit": 500
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Количество возвратов FBS",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1ReturnsCompanyFbsInfoResponse"
                }
              }
            }
          },
          "default": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v1/return/giveout/is-enabled": {
      "post": {
        "tags": [
          "ReturnAPI"
        ],
        "summary": "Проверить возможность получения возвратных отгрузок по штрихкоду",
        "description": "Если у вас есть доступ, в параметре `enabled` будет указано значение `true`.",
        "operationId": "ReturnAPI_GiveoutIsEnabled",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1Empty"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Результат проверки",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1GiveoutIsEnabledResponse"
                }
              }
            }
          },
          "default": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v1/return/giveout/list": {
      "post": {
        "tags": [
          "ReturnAPI"
        ],
        "summary": "Список возвратных отгрузок",
        "description": "Метод для получения списка активных возвратов.\nВозвратная отгрузка становится активной после сканирования штрихкода. \nПосле сканирования штрихкода второй раз активная выдача переходит в статус неактивной.\n",
        "operationId": "ReturnAPI_GiveoutList",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1GiveoutListRequest"
              },
              "example": {
                "last_id": 0,
                "limit": 500
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Список возвратных отгрузок",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1GiveoutListResponse"
                }
              }
            }
          },
          "default": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v1/return/giveout/info": {
      "post": {
        "tags": [
          "ReturnAPI"
        ],
        "summary": "Информация о возвратной отгрузке",
        "description": "Метод для получения информации о возвратной отгрузке. \nВ параметр `giveout_id` передаётся значение, полученное в методе [/v1/return/giveout/list](#operation/ReturnAPI_GiveoutList).\n",
        "operationId": "ReturnAPI_GiveoutInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1GiveoutInfoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Информация о возвратной отгрузке",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1GiveoutInfoResponse"
                }
              }
            }
          },
          "default": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v1/return/giveout/barcode": {
      "post": {
        "tags": [
          "ReturnAPI"
        ],
        "summary": "Значение штрихкода для возвратных отгрузок",
        "description": "Используйте этот метод, чтобы получить штрихкод из ответа методов [/v1/return/giveout/get-png](#operation/ReturnAPI_GiveoutGetPNG) и [/v1/return/giveout/get-pdf](#operation/ReturnAPI_GiveoutGetPDF) в текстовом виде.",
        "operationId": "ReturnAPI_GiveoutGetBarcode",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1Empty"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Значение штрихкода",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1GiveoutGetBarcodeResponse"
                }
              }
            }
          },
          "default": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v1/return/giveout/get-pdf": {
      "post": {
        "tags": [
          "ReturnAPI"
        ],
        "summary": "Штрихкод для получения возвратной отгрузки в формате PDF",
        "description": "Возвращает PDF-файл со штрихкодом. Метод работает только для схемы FBS.",
        "operationId": "ReturnAPI_GiveoutGetPDF",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1Empty"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Штрихкод для возвратной отгрузки",
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/v1GiveoutGetPDFResponse"
                },
                "example": {
                  "content_type": "application/pdf",
                  "file_name": "string",
                  "file_content": "string"
                }
              }
            }
          },
          "default": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v1/return/giveout/get-png": {
      "post": {
        "tags": [
          "ReturnAPI"
        ],
        "summary": "Штрихкод для получения возвратной отгрузки в формате PNG",
        "description": "Возвращает PNG-файл со штрихкодом.",
        "operationId": "ReturnAPI_GiveoutGetPNG",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1Empty"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Штрихкод для возвратной отгрузки",
            "content": {
              "image/png": {
                "schema": {
                  "$ref": "#/components/schemas/v1GiveoutGetPNGResponse"
                },
                "example": {
                  "content_type": "image/png",
                  "file_name": "string",
                  "file_content": "string"
                }
              }
            }
          },
          "default": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v1/return/giveout/barcode-reset": {
      "post": {
        "tags": [
          "ReturnAPI"
        ],
        "summary": "Сгенерировать новый штрихкод",
        "description": "Используйте метод, если ваш штрихкод попал в посторонние руки.\n\nМетод возвращает PNG-файл с новым штрихкодом. После использования метода вы не сможете получить возвратную отгрузку по старым штрихкодам.\nЧтобы получить новый штрихкод в PDF-формате, запросите его методом [/v1/return/giveout/get-pdf](#operation/ReturnAPI_GiveoutGetPDF).\n",
        "operationId": "ReturnAPI_GiveoutBarcodeReset",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1Empty"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Новый штрихкод",
            "content": {
              "image/png": {
                "schema": {
                  "$ref": "#/components/schemas/v1GiveoutBarcodeResetResponse"
                },
                "example": {
                  "content_type": "image/png",
                  "file_name": "string",
                  "file_content": "string"
                }
              }
            }
          },
          "default": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "v1GetReturnsListRequest": {
        "type": "object",
        "title": "object",
        "properties": {
          "filter": {
            "$ref": "#/components/schemas/GetReturnsListRequestFilter"
          },
          "limit": {
            "type": "integer",
            "format": "int32",
            "description": "Количество подгружаемых возвратов. Максимальное значение — 500."
          },
          "last_id": {
            "type": "integer",
            "format": "int64",
            "description": "Идентификатор последнего подгруженного возврата."
          }
        },
        "required": [
          "limit"
        ]
      },
      "GetReturnsListRequestFilter": {
        "type": "object",
        "title": "object",
        "description": "Фильтры. Используйте только один фильтр в запросе: `logistic_return_date`, `storage_tariffication_start_date` или `visual_status_change_moment`, иначе вернётся ошибка.\n",
        "properties": {
          "logistic_return_date": {
            "$ref": "#/components/schemas/v1TimeRange_return_date"
          },
          "storage_tariffication_start_date": {
            "$ref": "#/components/schemas/v1TimeRange_storage_tariffication"
          },
          "visual_status_change_moment": {
            "$ref": "#/components/schemas/v1TimeRange_visual_status"
          },
          "order_id": {
            "type": "integer",
            "description": "Фильтр по идентификатору заказа.",
            "format": "int64"
          },
          "posting_numbers": {
            "type": "array",
            "description": "Фильтр по номеру отправления. Передавайте не больше 50 постингов.",
            "items": {
              "type": "string"
            }
          },
          "product_name": {
            "type": "string",
            "description": "Фильтр по названию товара."
          },
          "offer_id": {
            "type": "string",
            "description": "Фильтр по артикулу товара."
          },
          "visual_status_name": {
            "type": "string",
            "description": "Фильтр по статусу возврата:\n- `DisputeOpened` — открыт спор с покупателем;\n- `OnSellerApproval` — на согласовании у продавца;\n- `ArrivedAtReturnPlace` — в пункте выдачи;\n- `OnSellerClarification` — на уточнении у продавца;\n- `OnSellerClarificationAfterPartialCompensation` — на уточнении у продавца после частичной компенсации;\n- `OfferedPartialCompensation` — предложена частичная компенсация;\n- `ReturnMoneyApproved` — одобрен возврат денег;\n- `PartialCompensationReturned` — вернули часть денег;\n- `CancelledDisputeNotOpen` — возврат отклонён, спор не открыт;\n- `Rejected` — заявка отклонена;\n- `CrmRejected` — заявка отклонена Ozon;\n- `Cancelled` — заявка отменена;\n- `Approved` — заявка одобрена продавцом;\n- `ApprovedByOzon` — заявка одобрена Ozon;\n- `ReceivedBySeller` — продавец получил возврат;\n- `MovingToSeller` — возврат на пути к продавцу;\n- `ReturningToSellerByCourier` — курьер везёт возврат продавцу;\n- `Utilizing` — на утилизации;\n- `Utilized` — утилизирован;\n- `MoneyReturned` — покупателю вернули всю сумму;\n- `PartialCompensationInProcess` — одобрен частичный возврат денег;\n- `DisputeYouOpened` — продавец открыл спор;\n- `CompensationRejected` — отказано в компенсации;\n- `DisputeOpening` — обращение в поддержку отправлено;\n- `CompensationOffered` — ожидает вашего решения по компенсации;\n- `WaitingCompensation` — ожидает компенсации;\n- `SendingError` — ошибка при отправке обращения в поддержку;\n- `CompensationRejectedBySla` — истёк срок решения;\n- `CompensationRejectedBySeller` — продавец отказался от компенсации;\n- `MovingToOzon` — едет на склад Ozon;\n- `ReturnedToOzon` — на складе Ozon;\n- `MoneyReturnedBySystem` — быстрый возврат;\n- `WaitingShipment` — ожидает отправки.\n"
          },
          "warehouse_id": {
            "type": "integer",
            "description": "Фильтр по идентификатору склада. Можно получить с помощью метода [/v1/warehouse/list](#operation/WarehouseAPI_WarehouseList).",
            "format": "int64"
          },
          "barcode": {
            "type": "string",
            "description": "Фильтр по штрихкоду возвратной этикетки."
          },
          "return_schema": {
            "type": "string",
            "description": "Фильтр по схеме доставки: `FBS` или `FBO`.\n"
          },
          "compensation_status_id": {
            "type": "integer",
            "format": "int32",
            "description": "Фильтр по статусу компенсации:\n- `1` — отправлена;\n- `2` — получена;\n- `3` — отменена;\n- `4` — проведена декомпенсация.\n"
          }
        }
      },
      "v1TimeRange_return_date": {
        "type": "object",
        "title": "object",
        "description": "Фильтр по дате создания возврата.",
        "properties": {
          "time_from": {
            "type": "string",
            "description": "Начало периода.",
            "format": "date-time"
          },
          "time_to": {
            "type": "string",
            "description": "Окончание периода.",
            "format": "date-time"
          }
        }
      },
      "v1TimeRange_storage_tariffication": {
        "type": "object",
        "title": "object",
        "description": "Фильтр по дате начала тарификации.",
        "properties": {
          "time_from": {
            "type": "string",
            "description": "Начало периода.",
            "format": "date-time"
          },
          "time_to": {
            "type": "string",
            "description": "Окончание периода.",
            "format": "date-time"
          }
        }
      },
      "v1TimeRange_visual_status": {
        "type": "object",
        "title": "object",
        "description": "Фильтр по дате изменения статуса возврата.",
        "properties": {
          "time_from": {
            "type": "string",
            "description": "Начало периода.",
            "format": "date-time"
          },
          "time_to": {
            "type": "string",
            "description": "Окончание периода.",
            "format": "date-time"
          }
        }
      },
      "v1GetReturnsListResponse": {
        "type": "object",
        "title": "object",
        "properties": {
          "returns": {
            "type": "array",
            "description": "Информация о возвратах.",
            "items": {
              "$ref": "#/components/schemas/GetReturnsListResponseReturnsItem"
            }
          },
          "has_next": {
            "type": "boolean",
            "description": "`true`, если у продавца есть другие возвраты.\n"
          }
        }
      },
      "GetReturnsListResponseReturnsItem": {
        "type": "object",
        "title": "object",
        "properties": {
          "exemplars": {
            "type": "array",
            "description": "Информация об экземплярах.",
            "items": {
              "$ref": "#/components/schemas/GetReturnsListResponseExemplar"
            }
          },
          "id": {
            "type": "integer",
            "description": "Идентификатор возврата.",
            "format": "int64"
          },
          "company_id": {
            "type": "integer",
            "description": "Идентификатор продавца.",
            "format": "int64"
          },
          "return_reason_name": {
            "type": "string",
            "description": "Причина возврата или отмены."
          },
          "type": {
            "type": "string",
            "description": "Тип возврата: \n`Cancellation` - отмена (до вручения);\n`FullReturn` - полный отказ при вручении;\n`PartialReturn` - частичный отказ при вручении;\n`ClientReturn` - клиентский возврат (после вручения);\n`Unknown` - технический возврат.\n"
          },
          "schema": {
            "type": "string",
            "description": "Схема возврата:\n`FBS`;\n`FBO`.\n"
          },
          "order_id": {
            "type": "integer",
            "description": "Идентификатор заказа.",
            "format": "int64"
          },
          "order_number": {
            "type": "string",
            "description": "Номер заказа."
          },
          "place": {
            "$ref": "#/components/schemas/GetReturnsListResponsePlace_now"
          },
          "target_place": {
            "$ref": "#/components/schemas/GetReturnsListResponsePlace_target"
          },
          "storage": {
            "$ref": "#/components/schemas/GetReturnsListResponseStorage"
          },
          "product": {
            "$ref": "#/components/schemas/GetReturnsListResponseProduct"
          },
          "logistic": {
            "$ref": "#/components/schemas/GetReturnsListResponseLogistic"
          },
          "visual": {
            "$ref": "#/components/schemas/GetReturnsListResponseVisual"
          },
          "additional_info": {
            "$ref": "#/components/schemas/GetReturnsListResponseAdditionalInfo"
          },
          "source_id": {
            "type": "integer",
            "description": "Предыдущий идентификатор возврата.",
            "format": "int64"
          },
          "posting_number": {
            "type": "string",
            "description": "Номер отправления."
          },
          "clearing_id": {
            "type": "integer",
            "description": "Штрихкод изначального отправления.",
            "format": "int64"
          },
          "return_clearing_id": {
            "type": "integer",
            "description": "Возвратный штрихкод изначального отправления.",
            "format": "int64"
          },
          "compensation_status": {
            "$ref": "#/components/schemas/GetReturnsListResponseCompensation"
          }
        }
      },
      "GetReturnsListResponseExemplar": {
        "type": "object",
        "title": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Идентификатор экземпляра.",
            "format": "int64"
          }
        }
      },
      "GetReturnsListResponsePlace_now": {
        "type": "object",
        "title": "object",
        "description": "Склад, где находится возврат.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Идентификатор склада.",
            "format": "int64"
          },
          "name": {
            "type": "string",
            "description": "Название."
          },
          "address": {
            "type": "string",
            "description": "Адрес."
          }
        }
      },
      "GetReturnsListResponsePlace_target": {
        "type": "object",
        "title": "object",
        "description": "Склад, куда едет возврат.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Идентификатор склада.",
            "format": "int64"
          },
          "name": {
            "type": "string",
            "description": "Название."
          },
          "address": {
            "type": "string",
            "description": "Адрес."
          }
        }
      },
      "GetReturnsListResponseStorage": {
        "type": "object",
        "title": "object",
        "description": "Информация о хранении.",
        "properties": {
          "sum": {
            "$ref": "#/components/schemas/seller_returnsv1Money_storage"
          },
          "tariffication_first_date": {
            "type": "string",
            "description": "Первый день тарификации за хранение.",
            "format": "date-time"
          },
          "tariffication_start_date": {
            "type": "string",
            "description": "Дата старта тарификации за хранение.",
            "format": "date-time"
          },
          "arrived_moment": {
            "type": "string",
            "description": "Дата, когда возврат был готов к выдаче.",
            "format": "date-time"
          },
          "days": {
            "type": "integer",
            "description": "Сколько дней возврат ожидает выдачи продавцу.",
            "format": "int64"
          },
          "utilization_sum": {
            "format": "date-time",
            "$ref": "#/components/schemas/seller_returnsv1Money_utilization"
          },
          "utilization_forecast_date": {
            "type": "string",
            "description": "Планируемая дата утилизации."
          }
        }
      },
      "seller_returnsv1Money_storage": {
        "type": "object",
        "title": "object",
        "description": "Стоимость хранения.",
        "properties": {
          "currency_code": {
            "type": "string",
            "description": "Валюта."
          },
          "price": {
            "type": "number",
            "format": "double",
            "description": "Стоимость хранения."
          }
        }
      },
      "seller_returnsv1Money_utilization": {
        "type": "object",
        "title": "object",
        "description": "Стоимость утилизации.",
        "properties": {
          "currency_code": {
            "type": "string",
            "description": "Валюта."
          },
          "price": {
            "type": "number",
            "format": "double",
            "description": "Стоимость утилизации."
          }
        }
      },
      "GetReturnsListResponseProduct": {
        "type": "object",
        "title": "object",
        "description": "Информация о товаре.",
        "properties": {
          "sku": {
            "type": "integer",
            "description": "Идентификатор товара в системе Ozon — SKU.",
            "format": "int64"
          },
          "offer_id": {
            "type": "string",
            "description": "Идентификатор товара в системе продавца — артикул."
          },
          "name": {
            "type": "string",
            "description": "Название товара."
          },
          "price": {
            "$ref": "#/components/schemas/seller_returnsv1Money_product"
          },
          "price_without_commission": {
            "$ref": "#/components/schemas/seller_returnsv1Money_without_commission"
          },
          "commission_percent": {
            "type": "number",
            "description": "Процент комиссии.",
            "format": "double"
          },
          "commission": {
            "$ref": "#/components/schemas/seller_returnsv1Money_commission"
          },
          "quantity": {
            "type": "integer",
            "format": "int32",
            "description": "Количество товара."
          }
        }
      },
      "seller_returnsv1Money_product": {
        "type": "object",
        "title": "object",
        "description": "Стоимость товара.",
        "properties": {
          "currency_code": {
            "type": "string",
            "description": "Валюта."
          },
          "price": {
            "type": "number",
            "format": "double",
            "description": "Стоимость товара."
          }
        }
      },
      "seller_returnsv1Money_without_commission": {
        "type": "object",
        "title": "object",
        "description": "Стоимость товара без комиссии.",
        "properties": {
          "currency_code": {
            "type": "string",
            "description": "Валюта."
          },
          "price": {
            "type": "number",
            "format": "double",
            "description": "Стоимость товара без комиссии."
          }
        }
      },
      "seller_returnsv1Money_commission": {
        "type": "object",
        "title": "object",
        "description": "Информация о комиссии.",
        "properties": {
          "currency_code": {
            "type": "string",
            "description": "Валюта."
          },
          "price": {
            "type": "number",
            "format": "double",
            "description": "Размер комиссии."
          }
        }
      },
      "GetReturnsListResponseLogistic": {
        "type": "object",
        "title": "object",
        "description": "Информация о возврате.",
        "properties": {
          "technical_return_moment": {
            "type": "string",
            "description": "Дата, когда заказ поставили на технический возврат.",
            "format": "date-time"
          },
          "final_moment": {
            "type": "string",
            "description": "Дата, когда возврат прибыл на фулфилмент или выдан продавцу.",
            "format": "date-time"
          },
          "cancelled_with_compensation_moment": {
            "type": "string",
            "description": "Дата, когда продавцу компенсировали возврат.",
            "format": "date-time"
          },
          "return_date": {
            "type": "string",
            "description": "Дата, когда покупатель вернул товар.",
            "format": "date-time"
          },
          "barcode": {
            "type": "string",
            "description": "Штрихкод этикетки возврата."
          }
        }
      },
      "GetReturnsListResponseVisual": {
        "type": "object",
        "title": "object",
        "description": "Информация о статусе возврата.",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/GetReturnsListResponseVisualStatus"
          },
          "change_moment": {
            "type": "string",
            "description": "Дата изменения статуса возврата.",
            "format": "date-time"
          }
        }
      },
      "GetReturnsListResponseVisualStatus": {
        "type": "object",
        "title": "object",
        "description": "Статус возврата.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Идентификатор статуса возврата.",
            "format": "int32"
          },
          "display_name": {
            "type": "string",
            "description": "Название статуса возврата."
          },
          "sys_name": {
            "type": "string",
            "description": "Системное название статуса возврата."
          }
        }
      },
      "GetReturnsListResponseAdditionalInfo": {
        "type": "object",
        "title": "object",
        "description": "Дополнительная информация.",
        "properties": {
          "is_opened": {
            "type": "boolean",
            "description": "`true`, если возврат вскрыт.\n"
          },
          "is_super_econom": {
            "type": "boolean",
            "description": "`true`, если возврат относится к товарам «Суперэконом».\n"
          }
        }
      },
      "GetReturnsListResponseCompensation": {
        "type": "object",
        "title": "object",
        "description": "Информация о статусе компенсации.",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/GetReturnsListResponseCompensationStatus"
          },
          "change_moment": {
            "type": "string",
            "description": "Дата изменения статуса компенсации.",
            "format": "date-time"
          }
        }
      },
      "GetReturnsListResponseCompensationStatus": {
        "type": "object",
        "title": "object",
        "description": "Статус компенсации.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Идентификатор статуса.",
            "format": "int32"
          },
          "display_name": {
            "type": "string",
            "description": "Название статуса:\n- «Отправлено на компенсацию»,\n- «Вы получили компенсацию»,\n- «Компенсация отменена»,\n- «Провели декомпенсацию».\n"
          },
          "sys_name": {
            "type": "string",
            "description": "Системное название статуса:\n- `Sent` — отправлена;\n- `Received` — получена;\n- `Canceled` — отменена;\n- `DecompensationSent` — проведена декомпенсация.\n"
          }
        }
      },
      "rpcStatus": {
        "type": "object",
        "title": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "description": "Код ошибки."
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/protobufAny"
            },
            "description": "Дополнительная информация об ошибке."
          },
          "message": {
            "type": "string",
            "description": "Описание ошибки."
          }
        }
      },
      "protobufAny": {
        "type": "object",
        "title": "object",
        "properties": {
          "typeUrl": {
            "type": "string",
            "description": "Тип протокола передачи данных."
          },
          "value": {
            "type": "string",
            "format": "byte",
            "description": "Значение ошибки."
          }
        }
      },
      "v1ReturnsCompanyFbsInfoRequest": {
        "required": [
          "pagination"
        ],
        "type": "object",
        "title": "object",
        "properties": {
          "filter": {
            "$ref": "#/components/schemas/v1ReturnsCompanyFbsInfoRequestFilter"
          },
          "pagination": {
            "$ref": "#/components/schemas/ReturnsCompanyFbsInfoRequestPagination"
          }
        }
      },
      "v1ReturnsCompanyFbsInfoRequestFilter": {
        "type": "object",
        "title": "object",
        "description": "Фильтры.",
        "properties": {
          "place_id": {
            "type": "integer",
            "format": "int64",
            "description": "Фильтр по идентификатору drop-off пункта."
          }
        }
      },
      "ReturnsCompanyFbsInfoRequestPagination": {
        "required": [
          "limit"
        ],
        "type": "object",
        "title": "object",
        "description": "Разделение ответа метода.",
        "properties": {
          "last_id": {
            "type": "integer",
            "format": "int64",
            "description": "Идентификатор последнего drop-off пункта на странице. Для первого запроса оставьте это поле пустым.\n\nЧтобы получить следующие значения, укажите `id` последнего drop-off пункта из ответа предыдущего запроса.\n"
          },
          "limit": {
            "type": "integer",
            "format": "int32",
            "description": "Количество drop-off пунктов на странице. Максимум — 500."
          }
        }
      },
      "v1ReturnsCompanyFbsInfoResponse": {
        "type": "object",
        "title": "object",
        "properties": {
          "drop_off_points": {
            "description": "Информация о drop-off пунктах.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReturnsCompanyFbsInfoResponseDropOffPoints"
            }
          },
          "has_next": {
            "type": "boolean",
            "description": "Признак, есть ли ещё пункты, где продавца ожидают возвраты."
          }
        }
      },
      "ReturnsCompanyFbsInfoResponseDropOffPoints": {
        "type": "object",
        "title": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "Адрес drop-off пункта."
          },
          "box_count": {
            "type": "integer",
            "format": "int32",
            "description": "Количество коробок в drop-off пункте."
          },
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "Идентификатор drop-off пункта."
          },
          "name": {
            "type": "string",
            "description": "Название drop-off пункта."
          },
          "pass_info": {
            "$ref": "#/components/schemas/ReturnsCompanyFbsInfoResponsePass_info"
          },
          "place_id": {
            "type": "integer",
            "format": "int64",
            "description": "Идентификатор склада, на который приедет отгрузка."
          },
          "returns_count": {
            "type": "integer",
            "format": "int32",
            "description": "Количество возвратов в drop-off пункте."
          },
          "utc_offset": {
            "type": "string",
            "description": "Смещение часового пояса времени отгрузки от UTC-0."
          },
          "warehouses_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "description": "Идентификатор складов продавца."
          }
        }
      },
      "ReturnsCompanyFbsInfoResponsePass_info": {
        "type": "object",
        "title": "object",
        "description": "Информация о пропуске.",
        "properties": {
          "count": {
            "type": "integer",
            "format": "int32",
            "description": "Количество пропусков на drop-off пункт."
          },
          "is_required": {
            "type": "boolean",
            "description": "Признак, нужен ли пропуск на drop-off пункт."
          }
        }
      },
      "v1Empty": {
        "type": "object",
        "title": "object"
      },
      "v1GiveoutIsEnabledResponse": {
        "type": "object",
        "properties": {
          "enabled": {
            "description": "`true`, если вы можете получить возвратную отгрузку по штрихкоду.\n",
            "type": "boolean"
          }
        }
      },
      "v1GiveoutListRequest": {
        "required": [
          "limit"
        ],
        "type": "object",
        "properties": {
          "last_id": {
            "description": "Идентификатор последнего значения на странице.",
            "type": "integer",
            "format": "int64"
          },
          "limit": {
            "description": "Количество элементов в ответе.",
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "v1GiveoutListResponse": {
        "type": "object",
        "properties": {
          "giveouts": {
            "description": "Идентификатор отгрузки.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GiveoutListResponseGiveoutDetails"
            }
          }
        }
      },
      "GiveoutListResponseGiveoutDetails": {
        "type": "object",
        "properties": {
          "approved_articles_count": {
            "description": "Количество товаров в отгрузке.",
            "type": "integer",
            "format": "int32"
          },
          "created_at": {
            "description": "Дата и время.",
            "type": "string",
            "format": "date-time"
          },
          "giveout_id": {
            "description": "Идентификатор отгрузки.",
            "type": "integer",
            "format": "int64"
          },
          "giveout_status": {
            "$ref": "#/components/schemas/v1GiveoutStatus"
          },
          "total_articles_count": {
            "description": "Общее количество товаров, которые нужно забрать со склада.",
            "type": "integer",
            "format": "int32"
          },
          "warehouse_address": {
            "description": "Адрес склада.",
            "type": "string"
          },
          "warehouse_id": {
            "description": "Идентификатор склада.",
            "type": "integer",
            "format": "int64"
          },
          "warehouse_name": {
            "description": "Название склада.",
            "type": "string"
          }
        }
      },
      "v1GiveoutStatus": {
        "type": "string",
        "description": "Статусы возвратной отгрузки:\n - `GIVEOUT_STATUS_UNSPECIFIED` — не определён, напишите в поддержку.\n - `GIVEOUT_STATUS_CREATED` — создана.\n - `GIVEOUT_STATUS_APPROVED` — одобрена.\n - `GIVEOUT_STATUS_COMPLETED` — завершена.\n - `GIVEOUT_STATUS_CANCELLED` — отменена.\n"
      },
      "v1GiveoutInfoRequest": {
        "required": [
          "giveout_id"
        ],
        "type": "object",
        "properties": {
          "giveout_id": {
            "description": "Идентификатор отгрузки.",
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "v1GiveoutInfoResponse": {
        "type": "object",
        "properties": {
          "articles": {
            "description": "Артикулы товаров.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GiveoutInfoResponseArticleDetails"
            }
          },
          "giveout_id": {
            "description": "Идентификатор отгрузки.",
            "type": "integer",
            "format": "int64"
          },
          "giveout_status": {
            "$ref": "#/components/schemas/v1GiveoutStatus"
          },
          "warehouse_address": {
            "description": "Адрес склада.",
            "type": "string"
          },
          "warehouse_name": {
            "description": "Название склада.",
            "type": "string"
          }
        }
      },
      "GiveoutInfoResponseArticleDetails": {
        "type": "object",
        "properties": {
          "approved": {
            "description": "`true`, если отгрузка подтверждена.\n",
            "type": "boolean"
          },
          "delivery_schema": {
            "$ref": "#/components/schemas/v1GiveoutDeliverySchema"
          },
          "name": {
            "description": "Название товара.",
            "type": "string"
          },
          "seller_id": {
            "description": "Идентификатор продавца.",
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "v1GiveoutDeliverySchema": {
        "type": "string",
        "description": "Cхема доставки:\n - `GIVEOUT_DELIVERY_SCHEMA_UNSPECIFIED` — не определёна, напишите в поддержку.\n - `GIVEOUT_DELIVERY_SCHEMA_FBO` — FBO.\n - `GIVEOUT_DELIVERY_SCHEMA_FBS` — FBS.\n"
      },
      "v1GiveoutGetBarcodeResponse": {
        "type": "object",
        "properties": {
          "barcode": {
            "description": "Значение штрихкода в текстовом виде.",
            "type": "string"
          }
        }
      },
      "v1GiveoutGetPDFResponse": {
        "type": "object",
        "title": "object",
        "properties": {
          "file_content": {
            "type": "string",
            "description": "PDF-файл со штрихкодом в кодировке Base64."
          },
          "file_name": {
            "type": "string",
            "description": "Название файла."
          },
          "content_type": {
            "type": "string",
            "description": "Тип файла."
          }
        }
      },
      "v1GiveoutGetPNGResponse": {
        "type": "object",
        "title": "object",
        "properties": {
          "file_content": {
            "type": "string",
            "description": "PNG-файл со штрихкодом в кодировке Base64."
          },
          "file_name": {
            "type": "string",
            "description": "Название файла."
          },
          "content_type": {
            "type": "string",
            "description": "Тип файла."
          }
        }
      },
      "v1GiveoutBarcodeResetResponse": {
        "type": "object",
        "title": "object",
        "properties": {
          "file_content": {
            "type": "string",
            "description": "Изображение со штрихкодом в бинарном виде."
          },
          "file_name": {
            "type": "string",
            "description": "Название файла."
          },
          "content_type": {
            "type": "string",
            "description": "Тип файла."
          }
        }
      }
    }
  }
}